.cartItemCounter {
  display: flex;
  align-items: center;
  button,
  span {
    height: 100%;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 156%;
    color: #686466;
    text-align: center;
    background-color: #ffffff;
  }
}
