.informationModal {
  position: fixed;
  top: 20px;
  right: 30px;
  width: 250px;
  height: 70px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  &Text {
    padding: 5px;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &CloseBut {
    position: absolute;
    top: 5px;
    right: -25px;
    cursor: pointer;
    .bar:nth-child(1) {
      transform: translate(0px, 5px) rotate(45deg);
    }
    .bar:nth-child(2) {
      transform: translate(0, -3px) rotate(-45deg);
    }
  }
  .bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 6px auto;
    z-index: 1;
    transition: all 0.3s ease;
  }
  @media screen and (max-width: 48em) {
    min-height: 35px;
    min-width: 150px;
    &Text {
      font-size: 1rem;
    }
  }
}
.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #d4edda;
  .bar {
    background-color: #155724;
  }
  .informationModalCloseBut {
    &:hover {
      .bar {
        background-color: #20a43f;
      }
    }
  }
}
.error {
  color: white;
  background-color: #b90e0a;
  border-color: #990f02;
}
