@import "../../../../assets/styles/default_variables.scss";
.headerConfirmEmail {
  position: relative;
  top: -20px;
  left: 0;
  background: $color-3;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  padding: 15px;
  &But {
    font-style: italic;
    text-decoration: underline;
    color: rgba(#ffffff, 0.8);
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      color: rgba(#ffffff, 1);
    }
  }
}
