.typesOfProducts {
  &Loader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .typeOfproducts {
    .title {
      margin-bottom: 25px;
    }
    margin-bottom: 10px;
  }
}
