/*VARIABLES---------------------------------------------------------------------------*/
$color-1: #231f20;
$color-2: #0e0c0d;
$color-3: #ff2e65;
$color-3h: #f46188;
$color-4: #e3ecf5;

/*------------------------------------------------------------------------------------*/
