.cartOrdering {
  &Title {
    margin-bottom: 20px;
  }
  &Content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &Promo {
    display: flex;
    flex: 0 1 50%;
    button {
      border-radius: 0 50px 50px 0;
    }
    input {
      border-radius: 50px 0 0 50px;
    }
  }

  &Total {
    p {
      margin-bottom: 20px;
    }
    button {
      border-radius: 50px;
    }
  }
  .totalPrice {
    font-weight: 600;
    font-size: 24px;
    line-height: 71%;
    color: #0e0c0d;
    span {
      margin-left: 9px;
      font-weight: 700;
      font-size: 36px;
      line-height: 100%;
      color: #ff2e65;
    }
  }
  @media screen and (max-width: 48em) {
    &Content {
      flex-direction: column;
    }
    &Promo {
      flex: 1 1 100%;
      margin-bottom: 20px;
    }
    &Total {
      flex: 1 1 100%;
    }
    .totalPrice {
      font-size: 1.2rem;
      span {
        font-size: 1.5rem;
      }
    }
  }
}
